* {
    font-family: 'Montserrat', sans-serif;
    background-color: #FFF0DE;
}





/*CSS FORMULAIRE*/

body h1 {
    text-align: center;
}

.formulaire { 
    display: flex;
    justify-content: center;
}

/*ici onfère l'espace entre chaque champ*/
.monform {
margin-top: 10px;
}

input {
    display: inline-block;
    width: 150px;


}



label {
    display: inline-block;
    text-align: justify-all; 
    width: 150px;
    
}

/*correspond aux boutons du formulaire + autre boutons du site au besoin*/
input[type=button], input[type=submit], input[type=reset] {
    background-color: #023047;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

  /*au passage de la souris, on gère l'opacité de la couleur des boutons*/
input[type=submit]:hover, input[type=reset]:hover {
    background-color: #023047a6
  }

#tete {
    border-color:#FF951B ;
    width: 400px;
    height: auto;

}

/*les champs obligatoires du formulaire*/
.monform span { 
    color: red;
}

.fin { 
    margin-top: 10px;

}

/*CSS MAP*/

.carte {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
}

/*CSS FOOTER*/

footer {
    display: flex;
    grid-gap:50px;
    justify-content: center;
    margin-top: 50px;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a {
    text-decoration: none;
    font-weight: bold;
}


/*Css Header*/

header{
    background-color: #023047;
    display: flex;
    justify-content: space-evenly;
    
}
header input{
    height: 50px;
    align-self: center;
}






