* {
    font-family: 'Montserrat', sans-serif;
    background-color: #8ECAE6;
}





/*Css Formulaire*/



.formulaire { 
    display: flex;
    justify-content: center;

}

input {
    display: inline-block;
    width: 150px;



}

div {
    margin-top: 10px;

}

label {
    display: inline-block;
    text-align: justify-all; 
    width: 150px;


}

.fin { 
    margin-top: 10px;
}


  input[type=button], input[type=submit], input[type=reset] {
    background-color: #FFA43C;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

  span { 
    color: indianred;

    }

/*Css Footer*/

footer {
    display: flex;
    grid-gap:50px;
    justify-content: center;
    margin-top: 50px;
}

/*Css Header*/

header{
    background-color: #023047;
    display: flex;
    justify-content: space-evenly;
    
}
header input{
    height: 50px;
    align-self: center;
}



