* {
    font-family: 'Montserrat', sans-serif;
    background-color: #FFF0DE;
    margin:0;
    padding: 0;
}



/*CSS FORMULAIRE*/

body h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.formulaire { 
    display: flex;
    justify-content: center;
}

/*ici onfère l'espace entre chaque champ*/
.monform {
margin-top: 10px;
}

input {
    display: inline-block;
    width: 150px;


}



label {
    display: inline-block;
    text-align: justify-all; 
    width: 150px;
    
}

/*correspond aux boutons du formulaire + autre boutons du site au besoin*/
input[type=button], input[type=submit], input[type=reset] {
    background-color: #023047;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

  /*au passage de la souris, on gère l'opacité de la couleur des boutons*/
input[type=submit]:hover, input[type=reset]:hover {
    background-color: #023047a6
  }

#tete {
    border-color:grey ;
    width: 400px;
    height: auto;

}

/*les champs obligatoires du formulaire*/
.monform span { 
    color: red;
}

.fin { 
    margin-top: 10px;

}

/*CSS MAP*/

.carte {
    display: flex;
    justify-content: center;
    /* width: 500px; */
    
    animation-duration: 5s;
    animation-name: slidein;
    
    /* animation-iteration-count: infinite; */
    /* animation-direction: alternate; */
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .box {
      width: 250px;
  }

.mail { 
    margin-left: 20px;
}





/*CSS FOOTER*/

footer {
    display: flex;
    grid-gap:50px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a {
    text-decoration: none;
    font-weight: bold;
}


/*Css Header Index*/
header input{
    height: 50px;
    align-self: center;
}
header {
    background-color: #023047e3;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 65px;
    position: relative; 
    }
    
    .image {
    position: relative; 
    z-index:1;
    margin-top: -65px;
    }

/*Css Body Index */
#Btext{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 70px;
}
#Bphoto{
    margin-top: 75px;
    float: left;
}
#Bvideo{
    align-self: flex-end;    
}
h2{
    color: #023047;
}





header input[type=button] {
        background-color: #FFB35C;
        border: none;
        color: black;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;
        
      }

      input[type=button]:hover {
        background-color: #FF951B
      }


